<div class="container">
  <div class="my-5">
    <form [formGroup]="myForm" class="mb-3">
      <select class="form-select" formControlName="inventario">
        <option value="">Seleccione inventario</option>
        <option *ngFor="let inventario of inventarioServece.inventario; let i = index" [value]="i">
          Inventario {{ i }}
        </option>
      </select>
    </form>
    <app-productos></app-productos>
    <button type="button" class="btn btn-outline-primary" (click)="agregrarInventario()">Nuevo Inventario</button>
  </div>
</div>

